<!-- templates/polls/list.html -->
{% extends "layout.html" %}

{% block title %}설문목록{% endblock %}
{# layerout.html 의 title 블록에 설문 목록을 넣어라. #}

{% block contents %}
    <h1>설문 목록</h1>
    <ul>
    {% for question in question_list %}
        <li>
            <a href="{% url 'polls:vote_form' question.pk %}">
                {{question.pk}}. {{question.question_text|truncatewords:4}}
                - {{question.pub_date | date:'Y/m/d H:i:s'}}
            </a>
        </li> <!--질문번호. 질문-->
    {% empty %}
        <b>아직 등록된 설문이 없습니다.</b>
    {% endfor%}
    </ul>
{% endblock %}